polygon { 
    fill: "#aedd87" !important; 
    stroke: "black" !important; 
}

/*polygon[id$="_County"] { 
    fill: "red" !important; 
    stroke: "white" !important; 
}*/

.lit    { 
    fill: "purple" !important; 
    stroke: "orange" !important; 
}    
